services:
  urotheliome:
    image: "urotheliome-dash"
    build:
      context: .
      dockerfile: ./Dockerfile
    env_file:
      - .env
    ports:
      - "127.0.0.1:8050:8080"
    volumes:
      - /opt/urotheliome-data:/usr/local/app/data
